# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
.venv/
.ENV/

# pipenv files
*.lock
*.pyc

# Poetry files
poetry.lock

# Conda environment files
*.conda
*.env
*.yaml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db